In [1]:
import pandas as pd

In [2]:
# Selecting specific columns due to memory constraints
file_path = 'Resources/Covid-19/Data/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv'

cols_list = [
    'res_county',
     'age_group', 
     'sex', 
     'current_status', 
     'symptom_status',
     'hosp_yn',
     'icu_yn',
     'death_yn',
     'underlying_conditions_yn'
]

mlm = pd.read_csv(file_path, usecols=cols_list)

C:\Users\chris\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
mlm

,res_county,age_group,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,OCONEE,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
1,JOHNSON,0 - 17 years,Male,Probable Case,Symptomatic,No,Missing,No,NaN
2,STONE,0 - 17 years,Male,Laboratory-confirmed case,Symptomatic,Unknown,Missing,Unknown,NaN
3,JEFFERSON,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,Missing,NaN,Yes
4,RIPLEY,18 to 49 years,Male,Probable Case,Missing,No,Missing,No,NaN
...,...,...,...,...,...,...,...,...,...
71387127,FRANKLIN,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,No,No,NaN
71387128,ISANTI,18 to 49 years,Female,Probable Case,Missing,Missing,Missing,No,NaN
71387129,ROWAN,18 to 49 years,Female,Probable Case,Symptomatic,No,Unknown,No,NaN
71387130,WRIGHT,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,NaN
71387131,HOPKINS,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [4]:
# Dropping NA's, already have so much data
mlm = mlm.dropna()
mlm

,res_county,age_group,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
18,LINCOLN,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,Unknown,No,Yes
20,RAPIDES,65+ years,Female,Probable Case,Symptomatic,No,Unknown,Missing,Yes
28,HICKMAN,65+ years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
66,STEELE,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,Yes
74,WAYNE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
...,...,...,...,...,...,...,...,...,...
71387077,WASHINGTON,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
71387078,AUGLAIZE,50 to 64 years,Female,Probable Case,Symptomatic,No,Missing,No,Yes
71387082,MADISON,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
71387084,NYE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
71387131,HOPKINS,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [5]:
# Only keeping rows where death_yn where death is 'Yes' or 'No'
mlm = mlm.loc[((mlm['death_yn'] == 'Yes') | (mlm['death_yn'] == 'No')) & 
              
              # # Only keeping rows where underlying conditions is 'Yes' or 'No'
              ((mlm['underlying_conditions_yn'] == 'Yes') | (mlm['underlying_conditions_yn'] == 'No'))]
mlm

,res_county,age_group,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
18,LINCOLN,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,Unknown,No,Yes
28,HICKMAN,65+ years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
66,STEELE,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,Yes
74,WAYNE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
96,MERCER,50 to 64 years,Female,Probable Case,Symptomatic,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...
71387077,WASHINGTON,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
71387078,AUGLAIZE,50 to 64 years,Female,Probable Case,Symptomatic,No,Missing,No,Yes
71387082,MADISON,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
71387084,NYE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
71387131,HOPKINS,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [6]:
mlm.symptom_status.unique()

array(['Symptomatic', 'Asymptomatic', 'Unknown', 'Missing'], dtype=object)

In [7]:
# Only keeping rows with 'Symptomatic' or 'Asymptomatic'
mlm = mlm.loc[(mlm['symptom_status'] == 'Symptomatic') | (mlm['symptom_status'] == 'Asymptomatic')]
mlm

,res_county,age_group,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
18,LINCOLN,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,Unknown,No,Yes
28,HICKMAN,65+ years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
66,STEELE,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,Yes
74,WAYNE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
96,MERCER,50 to 64 years,Female,Probable Case,Symptomatic,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...
71387077,WASHINGTON,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
71387078,AUGLAIZE,50 to 64 years,Female,Probable Case,Symptomatic,No,Missing,No,Yes
71387082,MADISON,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
71387084,NYE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
71387131,HOPKINS,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [8]:
mlm.icu_yn.unique()

array(['Unknown', 'Missing', 'No', 'Yes', 'nul'], dtype=object)

In [9]:
# Keeping icu-yn 'yes' or 'no'
mlm = mlm.loc[(mlm['icu_yn'] == 'Yes') | (mlm['icu_yn'] == 'No')]

In [10]:
# keep only confirmed cases
mlm = mlm.loc[mlm['current_status'] == 'Laboratory-confirmed case']
mlm

,res_county,age_group,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
74,WAYNE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
155,MAHONING,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
322,JACKSON,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
431,ALLEN,18 to 49 years,Female,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
478,JOHNSON,50 to 64 years,Male,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...
71386508,JEFFERSON,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,Yes,Yes
71386837,FORD,50 to 64 years,Female,Laboratory-confirmed case,Symptomatic,No,No,No,No
71386914,ATHENS,65+ years,Female,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
71387082,MADISON,18 to 49 years,Male,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
71387084,NYE,65+ years,Male,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes

In [64]:
# We can drop the current_status column
mlm.drop(columns='current_status', inplace=True)

In [70]:
# export df to csv file
file_path = 'Resources/Covid-19/Cleaned_Data/machine_learning_data.csv'
mlm.to_csv(file_path)

In [66]:
# Import and clean census data
file_path = 'Resources/Covid-19/Data/pop_by_county_us_census_2020.csv'
Census_county_pop = pd.read_csv(file_path)

In [25]:
# Getting County and population
Census_county_pop = Census_county_pop[['NAME','P1_001N']]
Census_county_pop

                                  NAME    P1_001N
0                 Geographic Area Name   !!Total:
1              Autauga County, Alabama      58805
2              Baldwin County, Alabama     231767
3              Barbour County, Alabama      25223
4                 Bibb County, Alabama      22293
...                                ...        ...
3217  Vega Baja Municipio, Puerto Rico      54414
3218    Vieques Municipio, Puerto Rico       8249
3219   Villalba Municipio, Puerto Rico      22093
3220    Yabucoa Municipio, Puerto Rico      30426
3221      Yauco Municipio, Puerto Rico      34172

[3222 rows x 2 columns]

In [26]:
# Renaming columns
Census_county_pop = Census_county_pop.rename(columns={"NAME":"County_Name", "P1_001N": "County_pop"})

In [27]:
# Dropping first row
Census_county_pop = Census_county_pop.iloc[1: , :]
Census_county_pop

                           County_Name County_pop
1              Autauga County, Alabama      58805
2              Baldwin County, Alabama     231767
3              Barbour County, Alabama      25223
4                 Bibb County, Alabama      22293
5               Blount County, Alabama      59134
...                                ...        ...
3217  Vega Baja Municipio, Puerto Rico      54414
3218    Vieques Municipio, Puerto Rico       8249
3219   Villalba Municipio, Puerto Rico      22093
3220    Yabucoa Municipio, Puerto Rico      30426
3221      Yauco Municipio, Puerto Rico      34172

[3221 rows x 2 columns]

In [29]:
split_df = Census_county_pop['County_Name'].str.split(',',expand=True)

In [30]:
split_df

                        0             1
1          Autauga County       Alabama
2          Baldwin County       Alabama
3          Barbour County       Alabama
4             Bibb County       Alabama
5           Blount County       Alabama
...                   ...           ...
3217  Vega Baja Municipio   Puerto Rico
3218    Vieques Municipio   Puerto Rico
3219   Villalba Municipio   Puerto Rico
3220    Yabucoa Municipio   Puerto Rico
3221      Yauco Municipio   Puerto Rico

[3221 rows x 2 columns]

In [36]:
Census_county_pop = split_df.join(Census_county_pop)
Census_county_pop

,0,1,County_Name,County_pop
1,Autauga County,Alabama,"Autauga County, Alabama",58805
2,Baldwin County,Alabama,"Baldwin County, Alabama",231767
3,Barbour County,Alabama,"Barbour County, Alabama",25223
4,Bibb County,Alabama,"Bibb County, Alabama",22293
5,Blount County,Alabama,"Blount County, Alabama",59134
...,...,...,...,...
3217,Vega Baja Municipio,Puerto Rico,"Vega Baja Municipio, Puerto Rico",54414
3218,Vieques Municipio,Puerto Rico,"Vieques Municipio, Puerto Rico",8249
3219,Villalba Municipio,Puerto Rico,"Villalba Municipio, Puerto Rico",22093
3220,Yabucoa Municipio,Puerto Rico,"Yabucoa Municipio, Puerto Rico",30426
3221,Yauco Municipio,Puerto Rico,"Yauco Municipio, Puerto Rico",34172

In [37]:
Census_county_pop.drop(columns= 'County_Name', inplace=True)

In [54]:
# Renaming Columns county and state
Census_county_pop.rename(columns={0:'County_name',1:'State'},inplace=True)

In [57]:
# Getting rid of county
Census_county_pop['County_name'] = Census_county_pop['County_name'].str.replace(' County', '')
Census_county_pop

              County_name         State County_pop
1                 Autauga       Alabama      58805
2                 Baldwin       Alabama     231767
3                 Barbour       Alabama      25223
4                    Bibb       Alabama      22293
5                  Blount       Alabama      59134
...                   ...           ...        ...
3217  Vega Baja Municipio   Puerto Rico      54414
3218    Vieques Municipio   Puerto Rico       8249
3219   Villalba Municipio   Puerto Rico      22093
3220    Yabucoa Municipio   Puerto Rico      30426
3221      Yauco Municipio   Puerto Rico      34172

[3221 rows x 3 columns]

In [60]:
# Get county names to match so they can be merged with mlm dataframe
Census_county_pop['County_name'] = Census_county_pop['County_name'].str.upper()
Census_county_pop

              County_name         State County_pop
1                 AUTAUGA       Alabama      58805
2                 BALDWIN       Alabama     231767
3                 BARBOUR       Alabama      25223
4                    BIBB       Alabama      22293
5                  BLOUNT       Alabama      59134
...                   ...           ...        ...
3217  VEGA BAJA MUNICIPIO   Puerto Rico      54414
3218    VIEQUES MUNICIPIO   Puerto Rico       8249
3219   VILLALBA MUNICIPIO   Puerto Rico      22093
3220    YABUCOA MUNICIPIO   Puerto Rico      30426
3221      YAUCO MUNICIPIO   Puerto Rico      34172

[3221 rows x 3 columns]

In [61]:
# export to csv
file_path = 'Resources/Covid-19/Cleaned_Data/County_clean.csv'
Census_county_pop.to_csv(file_path)

In [68]:
mlm.columns.tolist()

['res_county',
 'age_group',
 'sex',
 'symptom_status',
 'hosp_yn',
 'icu_yn',
 'death_yn',
 'underlying_conditions_yn']

In [69]:
mlm.dtypes

res_county                  object
age_group                   object
sex                         object
symptom_status              object
hosp_yn                     object
icu_yn                      object
death_yn                    object
underlying_conditions_yn    object
dtype: object