In [1]:
# Imports
import pandas as pd

In [4]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv'
Covid_by_state = pd.read_csv(file_path)
Covid_by_state

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/01/2021,ND,163565,135705.0,27860.0,589,220.0,1907,NaN,NaN,9,0.0,12/02/2021 02:35:20 PM,Agree,Not agree
1,08/17/2020,MD,100715,NaN,NaN,503,0.0,3765,3616.0,149.0,3,0.0,08/19/2020 12:00:00 AM,NaN,Agree
2,03/28/2022,VT,107785,NaN,NaN,467,35.0,585,NaN,NaN,0,0.0,03/29/2022 01:30:11 PM,Not agree,Not agree
3,03/18/2020,ME,44,44.0,0.0,12,0.0,0,0.0,0.0,0,0.0,03/20/2020 12:00:00 AM,Agree,Agree
4,02/06/2020,NE,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50056,07/19/2020,NJ,178541,NaN,NaN,-10,21.0,15706,13732.0,1974.0,34,27.0,07/19/2020 12:00:00 AM,Not agree,Agree
50057,02/10/2021,FSM,1,1.0,0.0,0,0.0,0,0.0,0.0,0,0.0,02/11/2021 02:50:55 PM,Agree,Agree
50058,06/01/2021,RI,144131,NaN,NaN,6,0.0,2711,NaN,NaN,1,0.0,04/22/2022 01:12:04 PM,Not agree,NaN
50059,07/06/2021,OR,209494,209494.0,0.0,117,0.0,2782,2782.0,0.0,1,0.0,07/07/2021 02:48:49 PM,Agree,Agree
50060,07/22/2021,KY,471470,351970.0,119500.0,970,353.0,8009,7103.0,906.0,5,0.0,07/24/2021 12:00:00 AM,Agree,Agree

In [12]:
Covid_by_state.columns.tolist()

['submission_date',
 'state',
 'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'created_at',
 'consent_cases',
 'consent_deaths']

In [7]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv'
Covid_sex = pd.read_csv(file_path)
Covid_sex

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0,NaN
1,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0,NaN
2,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0,NaN
3,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0,NaN
4,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88123,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,50-64 years,NaN,69.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
88124,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,55-64 years,NaN,51.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
88125,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,65-74 years,NaN,101.0,12.0,NaN,0.0,12.0,One or more data cells have counts between 1-9...
88126,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,75-84 years,NaN,196.0,26.0,NaN,NaN,28.0,One or more data cells have counts between 1-9...
88127,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,85 years and over,NaN,220.0,24.0,NaN,NaN,27.0,One or more data cells have counts between 1-9...

In [11]:
Covid_sex.columns.tolist()

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [8]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/COVID-19_Case_Surveillance_Public_Use_Data.csv'
Covid_case_surveillance = pd.read_csv(file_path)
Covid_case_surveillance

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2021/09/03,2021/09/03,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,Missing,Missing
1,2020/10/02,2020/10/02,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Unknown,Missing,Unknown,Missing
2,2020/07/17,2020/07/17,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Unknown,Missing,No,Missing
3,2020/12/07,2020/12/31,2020/12/07,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,Yes,Missing
4,2020/12/09,2020/12/14,2020/12/09,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...
71387127,2022/02/15,2022/03/11,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387128,2020/10/23,2020/11/05,NaN,2020/10/23,Laboratory-confirmed case,Female,80+ Years,Unknown,Missing,Missing,Missing,Missing
71387129,2020/11/10,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387130,2022/01/10,2022/01/12,2022/01/10,2022/01/10,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387131,2022/02/03,2022/02/03,2022/02/03,NaN,Probable Case,Female,80+ Years,Unknown,Unknown,Unknown,No,Unknown

In [10]:
Covid_case_surveillance.columns.tolist()

['cdc_case_earliest_dt ',
 'cdc_report_dt',
 'pos_spec_dt',
 'onset_dt',
 'current_status',
 'sex',
 'age_group',
 'race_ethnicity_combined',
 'hosp_yn',
 'icu_yn',
 'death_yn',
 'medcond_yn']